{% extends template.self %}

{% block body %}

<!-- begin talkus live embed code -->
<script>
  (function(t,a,l,k,u,s,e){if(!t[u]){t[u]=function(){(t[u].q=t[u].q||[]).push(arguments)},t[u].l=1*new Date();s=a.createElement(l),e=a.getElementsByTagName(l)[0];s.async=1;s.src=k;e.parentNode.insertBefore(s,e)}})(window,document,'script','//talkus.io/plugin.beta.js','talkus');
  talkus('init', '{{ config.pluginsConfig.talkus.talkusId }}');
</script>
<!-- end talkus live embed code -->

    {{ super() }}
{% endblock %}